/* assets/css/main.css*/

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,600&display=swap');

:root {
    --bg-gradient: linear-gradient(-45deg, #fff0c9, #ffc9f3, #fff0c9, #ffc9f3);
    --bg-card-top: #33a1fd;
    --bg-card-bottom: #ffffff;
    --text-main: #333;
    --accent-neon: #289bb8;
    --shadow: rgba(0, 0, 0, 0.1);
}

[data-theme="dark"] {
    --bg-gradient: linear-gradient(-45deg, #30142b, #2772a1, #0f172a, #020617);
    --bg-card-top: #007bff;
    --bg-card-bottom: #242526;
    --text-main: #e4e6eb;
    --accent-neon: #289bb8;
    --shadow: rgba(0, 0, 0, 0.6);
}

body {
    background: var(--bg-gradient);
    background-size: 400% 400%;
    animation: gradientFlow 10s ease infinite;
    font-family: 'Poppins', sans-serif;
    transition: background 0.8s ease;
    margin: 0;
}

@keyframes gradientFlow {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
/* Estilos de la tarjeta */
.card {
    width: 350px;
    border-radius: 15px;
    box-shadow: 0 10px 30px var(--shadow);
    overflow: hidden;
    text-align: center;
    background-color: var(--bg-card-bottom);
}